<%=form_for(@user) do |f|%>
	<div>First Name :
		<%=f.text_field :first_name %>
		Last Name :
		<%=f.text_field :last_name %>	
	</div><br>

	<div>
		Age : 
		<%=f.text_field :age %>
		Height :
		<%=f.text_field :height %> in.
		Weight :
		<%=f.text_field :weight %> lbs.
	</div><br>

	<div>
		Username :
		<%=f.text_field :email %>
		Password :
		<%=f.text_field :password %>
	</div><br>

	<div>
		Gender :
		<%=f.select :gender, [["female","f"],["male","m"]] %>
	
	  	Privacy Setting :
	    <%=f.select :user_setting, [["Public",true],["Private",false]] %>
	</div><br>

	<div><%=f.submit%></div>
	
<%end%>
