<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>

<%=form_for(@user, url: signup_path) do |f|%>
	<%= render 'shared/error_messages' %>
	<div class="row">
		<div class="col-md-6">
			<label>First Name</label>
			<%=f.text_field :first_name, class: 'form-control', placeholder: 'First Name'  %>
		</div>
		<div class="col-md-6">
			<label>Last Name</label>
			<%=f.text_field :last_name,  class: 'form-control', placeholder: 'Last Name'  %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<label>Age</label>
			<%=f.text_field :age,  class: 'form-control', placeholder: 'Years'  %>
		</div>
		<div class="col-md-4">
			<label>Height</label>
			<%=f.text_field :height,  class: 'form-control', placeholder: 'Inches'  %>
		</div>
		<div class="col-md-4">
			<label>Weight</label>
			<%=f.text_field :weight,  class: 'form-control', placeholder: 'Lbs'  %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<label>Email</label>
			<%=f.email_field :email,  class: 'form-control', placeholder: 'john.doe@gmail.com'  %>
		</div>

		<div class="col-md-6">
			<label>Password</label>
			<%=f.password_field :password,  class: 'form-control'  %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<label>Gender</label>
			<%=f.select :gender, [["Female","f"],["Male","m"]], {}, {:class => 'form-control'} %>
		</div>
		<div class="col-md-4">
			<label>Goal</label>
			<%=f.select :goal, [["Weight Gain","weight gain"],["Weight Loss","weight loss"],["Maintain","maintain"]], {}, {:class => 'form-control'} %>
		</div>
		<div class="col-md-4">
	  		<label>Privacy Setting</label>
	   		 <%=f.select :user_setting, [["Public",true],["Private",false]], {}, {:class => 'form-control'} %>
	   	</div>
	</div><br>

	<div>
		<%=f.submit "Create Profile", class: "btn btn-primary" %>
	</div>

<%end%>
