<h2>Personal Infomation</h2>
 
  
  <div class="row">
 	<div class="col-md-4">
 		<label>Name</label>
 		<input class="form-control" readonly value="<%= @user.first_name %>"> 
 	</div>
 </div>
 <div class="row">
 	<div class="col-md-4">
 		<label>Age</label>
 		<input class="form-control" readonly value="<%= @user.age %> years">
 	</div>
 </div>
 <div class="row">
 	<div class="col-md-4">
 		<label>Gender</label>
 		<input class="form-control"
 			<% if @user.gender == "F"%>
 				value="<%= "Female" %>"
 			<% else %>
 				value="<%= "Male" %>"
 			<% end %>
 		readonly>
 	</div>
 </div>
 <div class="row">
 	<div class="col-md-4">
 		<label>Height</label>
 		<input class="form-control" readonly value="<%= @user.height%> inches ">
 	</div>
 </div>
 <div class="row">
 	<div class="col-md-4">
 		<label>Weight</label>
 		<input class="form-control" readonly value="<%= @user.weight %> lbs ">
 	</div>
 </div>
 
  <h2>Credentials</h2>
 
  	<div class="row">
 		<div class="col-md-4">
 			<label>Username</label>
 			<input class="form-control" readonly value="<%= @user.email %>">
 		</div>
 	</div>
 
  	<div class="row">
 		<div class="col-md-4">
 			<label>Password</label>
 			<input class="form-control" readonly value="***********">
 		</div>
 	</div>