<div style="max-width:800px; margin: 0 auto;">
	<h1><%=@user.full_name%></h1>
	<div style="margin-bottom: 15px;">
			<%if @user.gender == "F"%>
				<% @daily_goal = 2000%>
			<%= "Daily Goal: #{@daily_goal} Calories"%>
			<%else%>
			<% @daily_goal = 3000%>
			<%= "Daily Goal: #{@daily_goal}"%>
			<%end%>
		<div>
	</div>
		<%@total_cal = @user.foods.collect do |food|%>
			<%food.calories %>
		<%end%>
		<%@total_cal = @total_cal.inject(:+)%>
			<%="Calories eaten: #{@total_cal}"%><br>

			<% if !@total_cal.nil? %>
				<% if @total_cal <= @daily_goal%>
					<%= "You have #{@daily_goal - @total_cal} calories remaining today"%>
				<%else%>
					<%= "You have exceeded your daily goal by #{@total_cal - @daily_goal} calories"%>
			<%end%>
			<%end%>
	</div>


	<table id="add-food-table" class="table">
	  <thead>
	    <tr>
	      <th scope="col">Food Name</th>
	      <th scope="col">Calories</th>
	      <th scope="col">
	      	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">New <i class="fas fa-plus"></i>
	      	</button>
	      	<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Create new food</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			        <%=form_for(@user, url:"/users/#{@user.id}") do |f|%>
					<%= f.fields_for :foods, @user.foods.build do |food| %>
					<div class="modal-body">
					      <div><%= food.label :name %>
					    	<%= food.text_field :name %>
					      </div>
					      <br>
					    <div><%= food.label :calories %>
					    	 <%= food.number_field :calories %>
					    </div>
					    <br>
					 <% end %>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <div><%=f.submit "Add food", class: "btn btn-primary" %></div>
			      </div>
			      <%end%>
			    </div>
			  </div>
			</div>
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%@user.foods.each do |food|%>
	  	<tr>
		  	<td><%= food.name%></td>
		  	<td><%= food.calories%></td>
		  	<td><i class="fas fa-pencil-alt"></i><span style="margin-right: 20px"></span><i class="fas fa-trash-alt"></i></td>
		</tr>
		<%end%>
	  </tbody>
	</table>
</div>
