<h1>Personal Infomation</h1>


<div>
	<strong>Name : </strong><%= @user.full_name %><br>
	<strong>Age : </strong><%= @user.age %> year <br>
	<strong>Gender : </strong><%= @user.gender %><br>
	<strong>Height : </strong><%= @user.height %>in. <br>
	<strong>Weight : </strong><%= @user.weight %>lbs. <br>
</div>

<h2>Credentials</h2>

<div>
	<strong>Username : </strong><%= @user.username %><br>
	<strong>Password : </strong><%= @user.password %>
</div>















