<h1><%=@user.full_name%></h1>
	<%@user.foods.each do |food|%>
	  	<%=link_to food.name, food_path(food)%>
	<%end%><br>

<div><%= @user.height%><br>
<%= @user.weight%></div>
	<%if @user.gender == "F"%>
		Female <br>
		<%= "Daily Goal: #{2000} Calories"%>
	<%else%>
		Male <br>
		<%= "Daily Goal: #{3000}"%>
	<%end%>
