<div style="max-width:1000px; margin: 0 auto;">
	<h1><%=@user.full_name%></h1>
	<div style="margin-bottom: 15px;">
			<%= "Daily Goal: #{@daily_goal + @goal} Calories"%>
		<div>
	</div>
			<%="Calories eaten: #{@total_cal}"%><br>
<%="#{@total_calories_burned} calories burned today"%>
			<div><%=@current_calories_message%></div>
	</div>

<!-- add user_food table-->

	<table id="add-food-table" class="table">
	  <thead>
	    <tr>
	      <th scope="col">Food Name</th>
	      <th scope="col">Calories</th>
	      <th scope="col">
	      	<%= link_to raw("<i class=\"icon-search icon-white\">Add </i>"), new_user_food_path, class: "btn btn-success", method: :get %>
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%@user.user_foods.each do |user_food|%>
	  	<tr>
		  	<td><%= link_to user_food.food.name, food_path(user_food.food) %></td>
		  	<td><%= user_food.food.calories%></td>
			<td>
				<button><%= link_to " EDIT", "/user_foods/#{user_food.id}/edit" %>
  					<i class="fas fa-pencil-alt"></i></button> 
				<i class="fas fa-trash-alt"><%=link_to " REMOVE", "/user_foods/#{user_food.id}/remove"%></i>
				<i class="fas fa-pencil-alt"><%=link_to " EDIT", "/user_foods/#{user_food.id}/edit"%></i>
				<%= button_to raw("<i class=\"fas fa-pencil-alt\">EDIT</i>"), "/user_foods/#{user_food.id}/edit", 
          class: "btn btn-primary" %>
			</td>
		</tr>
		<%end%>
	  </tbody>
	</table>

<!-- add user_factivity table-->
	<table id="add-activity-table" class="table" style="margin-bottom: 15px;">
	  <thead>
	    <tr>
	      <th scope="col">Activity Name</th>
	      <th scope="col">Calories Burned</th>
	      <th scope="col">
	      	<%= link_to raw("<i class=\"icon-search icon-white\">Add </i>"), new_user_active_path, class: "btn btn-success", method: :get %>

	      </th>
	    </tr>
	  </thead>
	  <tbody>
			<%@user.user_activities.each do |user_act|%>
	  	<tr>
		  	<td><%= link_to user_act.activity.name, activity_path(user_act.activity) %></td>
		  	<td><%= user_act.activity.calories_burned%></td>
		  	<td><i class="fas fa-trash-alt"><%=link_to " REMOVE", "/user_activities/#{user_act.id}/remove"%></i></td>
				<td><i class= "fas fa-pencil-alt"><%=link_to " EDIT", "/user_activities/#{user_act.id}/edit"%></i></td>
		</tr>
		<%end%>
	  </tbody>
	</table>
</div>
