<div style="max-width:800px; margin: 0 auto;">
	<h1><%=@user.full_name%></h1>
	<div style="margin-bottom: 15px;">
			<%if @user.gender == "F"%>
				<% @daily_goal = 2000%>
			<%= "Daily Goal: #{@daily_goal} Calories"%>
			<%else%>
			<% @daily_goal = 3000%>
			<%= "Daily Goal: #{@daily_goal}"%>
			<%end%>
		<div>
	</div>
		<%@total_cal = @user.foods.collect do |food|%>
			<%food.calories %>
		<%end%>
		<%@total_cal = @total_cal.inject(:+)%>
			<%="Calories eaten: #{@total_cal}"%><br>

			<% if !@total_cal.nil? %>
				<% if @total_cal <= @daily_goal%>
					<%= "You have #{@daily_goal - @total_cal} calories remaining today"%>
				<%else%>
					<%= "You have exceeded your daily goal by #{@total_cal - @daily_goal} calories"%>
			<%end%>
			<%end%>
	</div>


	<table id="add-food-table" class="table">
	  <thead>
	    <tr>
	      <th scope="col">Food Name</th>
	      <th scope="col">Calories</th>
	      <th scope="col">
	      	<button type="button" class="btn btn-secondary btn-sm">New <i class="fas fa-plus"></i></button>
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%@user.foods.each do |food|%>
	  	<tr>
		  	<td><%= link_to food.name, food_path %></td>
		  	<td><%= food.calories%></td>
		  	<td><i class="fas fa-pencil-alt"></i><span style="margin-right: 20px"></span><i class="fas fa-trash-alt"></i></td>
		</tr>
		<%end%>
	  </tbody>
	</table>


	<table id="add-activities-table" class="table">
		  <thead>
		    <tr>
		      <th scope="col">Activity Name</th>
		      <th scope="col">Calories Burned</th>
		      <th scope="col">
		      	<button type="button" class="btn btn-secondary btn-sm">New <i class="fas fa-plus"></i></button>
		      	
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		  	<%@user.activities.each do |activity|%>
		  	<tr>
			  	<td><%= link_to activity.name, activity_path %></td>
			  	<td><%= activity.calories_burned%></td>
			  	<td><i class="fas fa-pencil-alt"></i><span style="margin-right: 20px"></span><i class="fas fa-trash-alt"></i></td>
			</tr>
			<%end%>
		  </tbody>
		</table>
	</div>
