<h2>Personal Infomation</h2>


<div class="row">
	<div class="col-md-4">
		<label>Name</label>
		<textarea class="form-control" readonly value="<%= @user.first_name %>">
    </textarea>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label>Age</label>
		<textarea class="form-control" readonly value="<%= @user.age %> years">
    </textarea>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label>Gender</label>
		<textarea class="form-control"
			<% if @user.gender == "f"%>
				value="<%= "Female" %>"
			<% else %>
				value="<%= "Male" %>"
			<% end %>
		readonly>
    </textarea>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label>Height</label>
		<textarea class="form-control" readonly value="<%= @user.height%> inches ">
    </textarea>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label>Weight</label>
		<textarea class="form-control" readonly value="<%= @user.weight %> lbs ">
    </textarea>
	</div>
</div>

<h2>Credentials</h2>

	<div class="row">
		<div class="col-md-4">
			<label>Username</label>
			<textarea class="form-control" readonly value="<%= @user.email %>">
      </textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<label>Password</label>
			<textarea class="form-control" readonly value="***********">
      </textarea>
		</div>
	</div>
