<%=form_for(@food) do |f|%>
<div><%=f.label :name%>
<%=f.text_field :name %></div><br>
<div><%=f.label :calories %>
<%=f.number_field :calories%></div><br>
<div>
  <%=f.label :servings %>
  <%=f.select :servings,options_for_select(1..10) %>
</div><br>
<div><%=f.submit%></div>
<%end%>
