<%=form_for(@user) do |f|%>
	
	<%= f.fields_for :foods, user.foods.build do |foods_fields| %>
    <%= foods_fields.text_field :name %>
    <%= foods_fields.text_field :calories %>
  <% end %>

	<div><%=f.submit%></div>
<%end%>
